
@{
    ViewBag.Title = "Продукти";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Продукти</h2>
<hr />
<div>
    @Html.ActionLink("Създай", "Create", "Product", new { area = "Admin" }, new { @class = "btn btn-success btn-md" })
</div>
<div style="margin: 20px 0px">
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Снимка</th>
                <th scope="col">Име</th>
                <th scope="col">Количество</th>
                <th scope="col">Цена</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td>N/A</td>
                <td>Test 1</td>
                <td>123</td>
                <td>12.40</td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>N/A</td>
                <td>Test 2</td>
                <td>123</td>
                <td>12.40</td>
            </tr>
            <tr>
                <th scope="row">3</th>
                <td>N/A</td>
                <td>Test 3</td>
                <td>123</td>
                <td>12.40</td>
            </tr>
        </tbody>
    </table>
</div>
